@inherits LayoutComponentBase

<div class="container">
    <header class="header">
        <h1 class="title is-1">
            <i class="logo far fa-check-square"></i> Blazedo
        </h1>
        <h2 class="subtitle is-4">
            A simple todo list built with Blazor.
        </h2>
    </header>

    <main role="main">
        @Body
    </main>
</div>